.container
{
    display: flex;
    justify-content: center;
    /* justify-items: auto; */
}
h1.title
{
    position: absolute;
    
}
h3{
    position: absolute;
    align-self: flex-end;
    
}
.crop-container
{
    z-index: -1;
    width: 300px;   /* Set the width of the cropped area */
    height: 450px;  /* Set the height of the cropped area */
    /* overflow: hidden; */
    background-color: rebeccapurple;
    rotate: 90deg;
    overflow: hidden;
}
img
{
    z-index: -1;
    width: 100%; /* Fit the image inside the container */
    height: 100%;
    object-fit: cover; /* Cover the container while cropping */
    object-position: center;
}    
.btn-container
{
    /* background-color: aqua; */
    width: 100%;
    justify-content: center;
    gap: 200px;
    display: flex;
}
button
{
    height: 30px;
}
button.no
{
    position: relative;
    align-self: flex-end;

}
button.yes
{
    position: relative;
    align-self: flex-end;

}
