html, body
{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card-container
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 19, 4);
}

.card
{
    height: 100px;
    width: 100px;
    background-color: aqua;
}
